$theme-color-palette: (
	"white": var(--white),
	"neutral-dark": var(--neutral-dark),
	"primary-000": var(--color-primary-000),
	"secondary-100": var(--color-secondary-100),
	"brand-corporate-medium": var(--color-secondary-100),
);

@each $color, $value in $theme-color-palette {
	.bg-#{$color} {
		background-color: $value !important;
	}

	.border-#{$color} {
		border-color: $value !important;
	}

	.text-#{$color} {
		color: $value !important;
	}
}
