#footer {
	color: var(--white);
	margin-top: 1rem;

	> .container {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}

	.list-unstyled {
		margin: 0;
		li {
			margin-bottom: 0.5rem;
		}
		a {
			font-weight: var(--font-weight-bold);
		}
	}

	a {
		color: var(--white);
		&:hover {
			color: var(--white);
			opacity: 0.8;
		}
	}

	.address {
		p {
			margin: 0;
		}
	}

	@include media-breakpoint-up(lg) {
		.list-unstyled {
			column-count: 2;
			column-gap: 1rem;
		}
	}
}

.footer-contact {
	background-color: var(--brand-senai-dark);
}

.sub-footer {
	padding-top: 10px;
	padding-bottom: 10px;
	
	.nav {
		align-items: center;
	}

	.nav-link {
		color: var(--white);
		
		&:hover {
			color: var(--white);
		}

		&:not(.nav-link-monospaced) {
			font-size: 0.75rem;
		}

		& + .nav-link {
			margin-left: 0.5rem;
		}
	}

	.nav-link-monospaced {
		font-size: 1.5rem;
		margin: 0;
		padding: 0;
	}
}