.row {
  margin-right: calc(var(--gutter-width) / -2);
  margin-left: calc(var(--gutter-width) / -2);

  & > .col,
  & > [class*="col-"] {
    padding-right: calc(var(--gutter-width) / 2);
    padding-left: calc(var(--gutter-width) / 2);
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  & > .col,
  & > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.gutters-1 {
  --gutter-width: 0.25rem;
}

.gutters-2 {
  --gutter-width: 0.5rem;
}

.gutters-3 {
  --gutter-width: 1rem;
}

.gutters-4 {
  --gutter-width: 1.5rem;
}

.gutters-5 {
  --gutter-width: 3rem;
}
