#banner {
  box-shadow: 0px 30px 40px 0px #0000000D;
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 989;

  .site-name {
    color: var(--brand-corporate-pure);
    font-weight: var(--font-weight-bold);
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
    border-left: solid 1px var(--neutral-lighter);
    padding: 0.5rem 1rem;
    margin-left: 1rem;
  }

  .field-wrapper {
    position: absolute;
    right: 4px;
    top: 2px;

    a {
      color: #fff;
    }
  }

  .field-wrapper,
  .form-group {
    margin-bottom: 0;
  }

  .portlet {
    margin-bottom: 0;

    &:hover {
      z-index: 1034;
    }
  }

  .search-input {
    font-size: 0.88rem;
    padding: 0.28rem 2rem 0.28rem 1rem;
  }

  .text-default {
    color: #6b6c7e;
    font-weight: 600;
  }

  .portlet-user-personal-bar {
    margin-left: 2rem;
  }

  .user-personal-bar {
    .fieldset {
      position: relative;
    }

    .user-avatar-link .panel-notifications-count {
      right: calc(100% - 1rem);
      top: -0.6rem;
    }
  }
}

.user-avatar-link {
  display: block;
  position: relative;

  .panel-notifications-count {
    display: block;
    margin: 0;
    max-width: none;
    position: absolute;
    right: calc(100% - 0.7rem);
    top: -0.4rem;
  }

  .text-default {
    align-items: center;
    display: flex;

    .user-full-name {
      margin-left: 0.5rem;

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
}

.btn-group + .info-panel {
  @include media-breakpoint-up(sm) {
    top: auto;
  }
}
