.accordion {
  & > .card {
    box-shadow: none;
    margin-bottom: 0;
  }

  .card-header {
    background-color: transparent;
    padding: 0;
    
    .btn {
      padding: 1rem 0 1.25rem;
      border: 0;
      &:not(.collapsed) {
        padding-bottom: 0.5rem;
      }
    }
    
    .btn-link {
      color: var(--brand-corporate-medium);
      font-weight: var(--font-weight-bold);
      &:hover {
        text-decoration: none;
      }
    }
  }

  .card-body {
    padding: 0;
  }

  .collapse {
    border-bottom: solid 1px var(--brand-cni-lightter);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
}