.big-number {
  background: linear-gradient(132.3deg, #008bd2 0%, #005ba5 99.9%);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.08);
  padding: 2.5rem 1.5rem;
  color: var(--white);
  font-weight: var(--font-weight-bold);
  
  .title {
    font-size: 2.5rem;
    line-height: 29px;
  }

  .description {
    line-height: 113%;
  }
}
