.card-type-asset {
  border-radius: 0;
  background-color: transparent;

  .aspect-ratio {
    border-width: 0;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .card-body {
    background-color: var(--background-corporate);
    padding: 0.75rem 1.5rem 1.5rem;
    border: solid 1px var(--brand-corporate-light);
    border-radius: 0 0 0.5rem 0.5rem;
    @include transition(all 0.3s ease-in-out);
  }

  &[href]:hover {
    .card-body {
      background-color: var(--background-cni);
      border-color: var(--brand-cni-lightter);
    }
  }
}

.image-card {
  --aspect-ratio-16-to-9: 31%;
  color: var(--brand-corporate-medium);
  overflow: hidden;
  box-shadow: none;

  &[href] {
    text-decoration: none;
  }

  .card-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--brand-corporate-pure);
    margin-bottom: 0.75rem;
    font-weight: var(--font-weight-bold);
  }

  .card-subtitle {
    color: var(--brand-corporate-medium);
    font-size: 0.875rem;
    line-height: 1.25rem;
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }
}

.card-interactive {
  border-radius: 0.5rem;
  border-color: var(--brand-cni-lightter);

  .aspect-ratio:has(.icon) {
    padding-bottom: 96px;
  }

  &.card-type-template {
    .aspect-ratio-item {
      width: 3rem;
    }
  }

  .card-title {
    font-weight: var(--font-weight-bold);
    color: var(--brand-corporate-pure);
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .btn-link {
    padding: 0;
    border: 0;
    font-size: 0.75rem;
    color: var(--brand-cni-pure);
    margin-bottom: 1rem;
    @include transition(all 0.3s ease-in-out);

    .inline-item {
      border: solid 1px var(--brand-cni-pure);
      border-radius: 5000px;
      width: 1.5rem;
      height: 1.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include transition(all 0.3s ease-in-out);
    }

    .fa-solid,
    .fas {
      font-size: 7.5px;
      background-color: var(--brand-cni-pure);
      color: var(--white);
      padding: 5.25px;
      border-radius: 5000px;
      width: 18px;
      @include transition(all 0.3s ease-in-out);
    }

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    background-color: var(--background-cni);
    .btn-link {
      color: var(--brand-cni-dark);
      .inline-item {
        background-color: var(--brand-cni-dark);
        .fa-solid,
        .fas {
          background-color: transparent;
          font-size: 0.75rem;
          padding: 6px;
          width: auto;
          transform: rotate(360deg);
        }
      }
    }
  }
}

.card-interactive-primary:hover::after,
.card-interactive-primary.hover::after {
  background-color: transparent;
}
